<% layout('layout/boilerplate') %>
    <div class="container my-5">
        <h2 class="mb-5">Edit Listing</h2>
        <form action="/listings/<%= listing.id %>?_method=PUT" method="post" class="p-4 rounded-4 shadow-sm bg-white">

            <div class="mb-3">
                <label class="form-label">Title</label>
                <input name="listing[title]" type="text" value="<%= listing.title %>" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control"><%= listing.description %></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Price</label>
                <input name="listing[price]" type="number" value="<%= listing.price %>" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Country</label>
                <input name="listing[country]" type="text" value="<%= listing.country %>" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Location</label>
                <input name="listing[location]" type="text" value="<%= listing.location %>" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Image url</label>
                <input name="listing[image][url]" type="text" value="<%= listing.image.url %>" alt=""
                    class="form-control">
            </div>

            <button class="btn btn-dark rounded-3 px-4 addbtn">EDIT</button>
        </form>
    </div>