<% layout('Layout/boilerplate') %>

    <body>
        <h2>Listing Details</h2>
        <h4>Title: <%= listing.title %>
        </h4>
        <h4>Description: <%= listing.description %>
        </h4>
        <h4>Price: ₹<%= listing.price.toLocaleString("en-IN") %>
        </h4>
        <h4>Country: <%= listing.location %>
                <h4>Country: <%= listing.country %>
                </h4>

                <img src="<%= listing.image.url %>" alt="<%= listing.title %>" width="300" /><br><br>
                <a href="/listings/<%= listing.id %>/edit">EDIT</a><br><br>
                <form action="/listings/<%= listing.id %>?_method=DELETE" method="post">
                    <button>Delete</button>
                </form>
    </body>